body {
  background-color: #181818;
}

#titleDiv {
  text-align:center;
  margin: auto;
}

h1 {
  font-family:"Courier New";
  color: #ffa500;
  font-size:50px;
}

#groupDiv {
  text-align: center;
  margin: auto;
  font-family:"Courier New";
}


.inputDiv {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.savingsColumn {
  height: 40px;
}

#moneyInput {
  width:120px;
}

#savingsGroupDiv {
  font-family: "Courier New";
  text-align: center;
  margin: auto;
}

#savingsBottomGroupDiv {
  font-family: "Courier New";
  text-align: center;
  margin: 20px auto auto;
}

.savingsBottomDiv {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

#graphBox {
  display: inline-block;
  vertical-align: top;
  border-radius: 25px;
  border: 2px solid #ffa500;
  padding: 10px;
  width: 600px;
  height: 450px;
  background-color: #DCDCDC;
}

#statsBox {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  border-radius: 25px;
  border: 2px solid #ffa500;
  padding: 10px;
  width: 300px;
  height: 450px;
  background-color: #DCDCDC;
}

#savingsDiv {
  margin: 50px auto auto;
  text-align: center;
  font-family:"Courier New";
}

#stats {
  text-align: left;
  margin-top: 10px;
}

#recentDateText {
  font-style:italic;
  float:bottom;
}

ul li{
  padding: 5px 0px;
  text-align: left;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  border-radius: 16px;
  font-family:"Courier New";
  font-size:20px;
}

.graphButtons {
  font-family: "Courier New";
  display: inline-block;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: auto 25px auto 25px;
  cursor: pointer;
  border-radius: 16px;
  background-color: #616161;
  font-weight: bold;
}

.savings{
  height:40px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /*position: relative;*/
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.29);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-family: "Courier New";
  padding: 2px 16px;
  background-color: #ffa500;
  color: #181818;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}