<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css')}}">
</head>

<body>

    <div id="titleDiv">
        <h1>{{ title }}</h1>
    </div>


    <div id="groupDiv">
       <div id="graphBox">
        <canvas id="mychart" width="600" height="400"></canvas>
        </div>
        <div id="statsBox">
            <p>Hello!</p>
        </div>
    </div>




    <script>

        var pointBackgroundColors = ["#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF",
                                        "#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF"];

        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
        ],

        datasets : [{
              //fillColor: ["#00FF00","#FF00FF"],
              //strokeColor: "rgba(151,187,205,1)",
              pointColor: pointBackgroundColors,
              pointStrokeColor: pointBackgroundColors,
              pointHighlightFill: pointBackgroundColors,
              //pointHighlightStroke: "rgba(151,187,205,1)",
              //bezierCurve : false,
              backgroundColor:pointBackgroundColors,
              data : [
                {% for item in history %}
                      {{ item }},
                    {% endfor %}]
                  }]
            {#{#}
            {#    fillColor: "rgba(151,187,205,0.2)",#}
            {#    strokeColor: "rgba(151,187,205,1)",#}
            {#    pointColor: "rgba(151,187,205,1)",#}
            {#    pointStrokeColor: "#fff",#}
            {#    pointHighlightFill: "#fff",#}
            {#    pointHighlightStroke: "rgba(151,187,205,1)",#}
            {#    bezierCurve : false,#}
            {#    data : [#}
            {#    {% for item in predictions %}#}
            {#          {{ item }},#}
            {#        {% endfor %}]#}

      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("mychart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: 0.05,
        scaleStartValue: 1.4,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

        LineChartDemo.datasets[0].points[6].fillColor =   "#ffa500";
        LineChartDemo.update();

    </script>
</body>
</html>