<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div id="titleDiv">
        <h1>{{ title }}</h1>
    </div>

    <div id="groupDiv">
       <div id="graphBox">
           <h3 id="graphTitle">Exchange rates for GBP/EUR:</h3>
           <div class="chartContainer" >
               <canvas id="mychart"></canvas>
           </div>

           <button class="graphButtons" onclick="updateGraph('GBP')">
               GBP/EUR
           </button>
           <button class="graphButtons" onclick="updateGraph('EUR')">
               EUR/GBP
           </button>
        </div>
        <div id="statsBox">
            <h2>Forecasted Rates:</h2>
            <div id="forecastedRates"></div>
            <p id="recentDateText">Most recent data collected: <b>{{ recentDate }}</b></p>
            <p>Confidence actual highest month = predicted highest: <b>31.4%</b></p>
            <p>Confidence actual highest month = predicted highest or predicted 2nd highest: <b>45.5%</b></p>
        </div>
    </div>

    <div id="savingsDiv">
        <button class="button" id="myBtn">
            Calculate potential savings
        </button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="ModalHeader">Potential savings calculator</h2>
            </div>
            <div class="modal-body">
                <div id="savingsGroupDiv">
                    <div class="inputDiv" id="amountInput">
                        <p>Amount:</p>
                        <input class="savingsColumn" height="40" type="text" id="moneyInput" name="fname" value="100">
                    </div>
                    <div class="inputDiv" id="firstFlag">
                        <p>From:</p>
                        <img src="{{ url_for('static', filename='britishFlagCircular.png')}}" id="flag1" style="width:40px;height:40px;">
                    </div >
                    <div class="inputDiv" id="swapIcon">
                        <br><br><br>
                        <input type="image" src="{{ url_for('static', filename='switch.png')}}" id="saveForm" onClick="switchCurrency()" style="width:20px;height:35px;" />
                    </div>
                    <div class="inputDiv" id="secondFlag">
                        <p>To:</p>
                        <img src="{{ url_for('static', filename='europeFlagCircular.png')}}" id="flag2" style="width:40px;height:40px;">
                    </div>
                    <div class="inputDiv" id="monthInput">
                        <p>By:</p>
                        <select id="monthSelect">
                        </select>
                    </div>
                    <div class="inputDiv" id="buttonInput">
                        <br><div id="breaks"><br><br></div>
                        <Button class="savingsColumn" onClick="calculateExchange()" style="width:40px;height:40px;"> <b> > </b> </Button>
                    </div>
                </div>
                <div id="savingsBottomGroupDiv">
                    <div class="savingsBottomDiv">
                        <div id="rateContainer"></div>
                    </div>
                    <div class="savingsBottomDiv">
                        <br><br>
                        <div id="summaryContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        // Retrieve the GBP/EUR FOREX value from Flask values passed to it
        var exchangeRatesGBP = [
                {% for item in forex %}
                          {{ item }},
                        {% endfor %}]

        var exchangeRatesEUR = [
                {% for item in forex %}
                          {{ item }},
                        {% endfor %}]

        // Get the labels of the months which are given in the correct order
        var months = [
                {% for item in labels %}
                  "{{ item }}",
                {% endfor %}]

        // Convert exchangeRatesEUR so that they represent EUR/GBP
        for (let i = 0; i < exchangeRatesEUR.length; i++) {
                    exchangeRatesEUR[i] = (1 / exchangeRatesEUR[i]).toFixed(3);
                }

        // variable representing the current state of the flags
        var switched = false;

        // Function which is called when the savings switch button is clicked
        function switchCurrency() {

            // If switched not true then update flags to EUR/GBP
            if (!switched){
                document.getElementById("flag1").src = "{{ url_for('static', filename='europeFlagCircular.png')}}";
                document.getElementById("flag2").src = "{{ url_for('static', filename='britishFlagCircular.png')}}";
                switched=true;
            }
            // if switched is true, update flags to GBP/EUR
            else {
                document.getElementById("flag1").src = "{{ url_for('static', filename='britishFlagCircular.png')}}";
                document.getElementById("flag2").src = "{{ url_for('static', filename='europeFlagCircular.png')}}";
                switched=false;
            }
        }

        // Get the option selector and add the following 6 months for the current date
        var select = document.getElementById('monthSelect');
        futureMonths = months.slice(Math.max(months.length - 6, 0))
        futureMonths.forEach(addOption)

        // Function to add single month to option selector
        function addOption(item,index) {
            var opt = document.createElement('option');
            opt.value = item;
            opt.innerHTML = item;
            select.appendChild(opt);
        }

        // Function called to update the displated forecasted rates to either GPB/EUR or EUR/GBP
        // Called when either of the two graph buttons are clicked
        function updateForecastedRates(exchange) {

            var exchangeRates;

            if (exchange == "GBP") {
                exchangeRates = exchangeRatesGBP
            } else {
                exchangeRates = exchangeRatesEUR
            }

            // update the unordered list of FOREX values
            var forecastedRates = '<ul>' +
                '<li> Current: ' + exchangeRates[5] + '</li>'

            for (i = 6; i<exchangeRates.length;i++){
                forecastedRates += '<li>' + months[i] + ': ' + exchangeRates[i] + '</li>'
            }
            forecastedRates += '</ul>'

            document.getElementById("forecastedRates").innerHTML = forecastedRates;
        }

        // Call function to initially set rates to be displayed as GBP/EUR
        updateForecastedRates("GBP")




        // Function called when the savings calculator submit button is clicked
        // Calculates and displays the expected exchange returns of the future
        function calculateExchange() {

            var exchangeRates = exchangeRatesGBP;
            var symbol = '€';

            if (switched) {
                exchangeRates = exchangeRatesEUR;
                symbol = '£';
            }

            // convert exchange rates into floats
            for(i=0;i < exchangeRates.length; i++){
                exchangeRates[i] = parseFloat(exchangeRates[i])
            }

            // Get the range of month indices, ranging from current month to the selected month
            var monthStartIndex = exchangeRates.length - 7;
            var x = document.getElementById("monthSelect").selectedIndex;
            var slicedRates = exchangeRates.slice(monthStartIndex,(monthStartIndex+x+2));

            var moneyInput = document.getElementById("moneyInput").value;
            var monthCount = 5;


            // Get the index of the highest rate
            var bestRateIndex = slicedRates.indexOf(Math.max(...slicedRates));


            // Create and unordered list of the potential returns
            var str = '<h3>Exchange rates:</h3> ' +
                '<ul>'

            // For each rate, calculate the returns and add it to the unordered HTML list
            slicedRates.forEach(function(rate) {
                var exchangedMoney = (parseFloat(rate) * parseFloat(moneyInput)).toFixed(2);

                var month = months[monthCount];

                if (monthCount == 5) {
                    month = 'Now'
                };

                // If the month index is equal to that of the highest rate then make it bold
                if((monthCount-5)==bestRateIndex){
                    str += '<li> <b>' + month + ' -> '+ symbol + exchangedMoney.toString() + ' </b></li>';
                }
                else {
                    str += '<li>' + month + ' -> '+ symbol + exchangedMoney.toString() + '</li>';
                }

                monthCount++;
            });

            str += '</ul>'
            document.getElementById("rateContainer").innerHTML = str;

            // Change the text depending on what month the best rate is
            var bestMonth;
            if (bestRateIndex == 0) {
                bestMonth = 'now.'
            }
            else {
                if (bestRateIndex == 1) {
                    bestMonth = 'in ' + bestRateIndex.toString() + ' month.'
                }
                else {
                    bestMonth = 'in ' + bestRateIndex.toString() + ' months.'
                }
            }
            var str2 = 'Exchange your money <b>' + bestMonth + '</b>';

            document.getElementById("summaryContainer").innerHTML = str2;
            document.getElementById("summaryContainer").style.border = "2px solid #000000";

        }

        // Prepare the graph data
        var graphData = {
            labels : months,
            datasets : [{
                data: exchangeRatesGBP
            }]
            }


      // get bar chart canvas
      var mychart = document.getElementById("mychart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(graphData, {
        scaleSteps: steps,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: true,
          responsive:true,
          maintainAspectRatio:false
      });


        // Get the modal and its components
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        var currency = "GBP"

        // Function called to update the graph and rates when either of the graph buttons are clicked
        function updateGraph(button) {

            // If the current currency is different to the button that was clicked then switch the graphs
            if (currency != button ) {

                var exchangeRates;

                if (currency == "GBP") {
                    currency = "EUR";
                    document.getElementById("graphTitle").innerHTML = "Exchange rates for EUR/GBP:";
                    exchangeRates = exchangeRatesEUR
                    updateForecastedRates("EUR")
                }
                else {
                    currency = "GBP"
                    document.getElementById("graphTitle").innerHTML = "Exchange rates for GBP/EUR:";
                    exchangeRates = exchangeRatesGBP
                    updateForecastedRates("GBP")
                }

                // Update graph
                for (let j=0; j < 12; j ++) {
                    LineChartDemo.datasets[0].points[j].value = exchangeRates[j]
                }

                LineChartDemo.update();
            }
        }

        // Setting the colour and properties of the graph
        LineChartDemo.datasets[0].points[6].strokeColor = "#ffa500";
        LineChartDemo.datasets[0].points[6].fillColor = "#ffa500";
        LineChartDemo.datasets[0].points[6].highlightFill = "#ffa500";
        LineChartDemo.datasets[0].fill = "#cccccc";
        LineChartDemo.scale.lineColor = "#303030";
        LineChartDemo.options.datasetStrokeWidth = 3;
        LineChartDemo.options.multiTooltipKeyBackground = "#cccccc";

        LineChartDemo.update();
    </script>
</body>
</html>