<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css')}}">
</head>

<body>

    <div id="titleDiv">
        <h1>{{ title }}</h1>
    </div>


    <div id="groupDiv">
       <div id="graphBox">
        <canvas id="mychart" width="600" height="400"></canvas>
           <button class="graphButtons">
               GBP/EUR
           </button>
           <button class="graphButtons">
               EUR/GBP
           </button>
        </div>
        <div id="statsBox">
            <h2>Confidence:</h2>
            <ul>
                <li>Month 1:</li>
                <li>Month 2:</li>
                <li>Month 3:</li>
                <li>Month 4:</li>
                <li>Month 5:</li>
                <li>Month 6:</li>
            </ul>
            <p id="recentDateText">Most recent data collected: 31/01/20</p>
        </div>
    </div>

    <div id="savingsDiv">
        <button class="button">
            Calculate potential savings
        </button>
    </div>


    <script>
        var pointBackgroundColors = ["#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF",
                                        "#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF"];

        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
        ],

        datasets : [{
              //fillColor: ["#00FF00","#FF00FF"],
              //strokeColor: "rgba(151,187,205,1)",
              pointColor: pointBackgroundColors,
              pointStrokeColor: pointBackgroundColors,
              pointHighlightFill: pointBackgroundColors,
              //pointHighlightStroke: "rgba(151,187,205,1)",
              //bezierCurve : false,
              backgroundColor:pointBackgroundColors,
              data : [
                {% for item in history %}
                      {{ item }},
                    {% endfor %}]
                  }]


      }

      // get bar chart canvas
      var mychart = document.getElementById("mychart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: 0.1,
        scaleStartValue: 1,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

        LineChartDemo.datasets[0].points[6].fillColor ="#ffa500";
        LineChartDemo.update();

    </script>
</body>
</html>